@import "./partials/vars";
@import "./reset/basic-reset";

body {
	background: $white;
}

header {
	border-bottom: 2px solid $light-grey;
	img {
		width: 100%;
		max-width: 80px;
	}
	h2, p {
		text-transform: uppercase;
	}
}

.work {
	h3 {
		color: $light-grey;
	}
}
footer {
	background-color: $blue;
}