@import "./partials/vars";
@import "./reset/basic-reset";

body {
	background: $white;
}

header {
	border-bottom: 2px solid $light-grey;
	img {
		width: 100%;
		max-width: 80px;
	}
	h2, p {
		text-transform: uppercase;
	}

	h2 {
		font-weight: 100;
		font-size: 3rem;
		line-height: 45px;
		letter-spacing: 2px;
	}

	p.lead {
		font-weight: 500;
	}
}

.work {
	h3 {
		color: $light-grey;
	}

	a{
		color: unset;

		&:hover {
			text-decoration: none;
		}
	}
	.project {
		img {
			border: 2px solid $white;
		}
		&:hover {
			img {
				border-right: 2px solid $blue;
				border-bottom: 2px solid $blue;
			}
			h3 {
				color: $blue;
			}
		}
	}
}
footer {
	background-color: $blue;

	p.lead {
		margin: 0;
	}
}